* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%
}

main {
    position: relative;
    width: 100%;
    height: 600vh;
    overflow: hidden
}

.background {
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: clamp(2rem, 3vw, 4rem);
    font-weight: bold;
    text-align: center;
}
